@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-vindo ao cadastro brasileiro de usuários!</h1>
    <p>Vamos começar cadastrando um usuário!</p>
</div>
